<nav class="navbar navbar-expand-lg navbar-transparent">
  <!-- <a class="navbar-brand" routerLink="/">CARTELERA</a> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Dropdown menu with two options -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Opción 1</a>
          <a class="dropdown-item" href="#">Opción 2</a>
        </div>
      </li>
      <!-- End of dropdown menu -->
    </ul>
    <div class="d-flex">
      <form class="form-inline my-2 my-lg-0">
        <input
          #txtBuscar
          (keyup.enter)="buscarPelicula(txtBuscar.value)"
          class="form-control mr-sm-2"
          type="search"
          placeholder="Buscar Pelicula"
          aria-label="Search"
        />
        <button (click)="buscarPelicula(txtBuscar.value)" class="btn btn-outline-warning my-2 my-sm-0" type="submit">
          Buscar
        </button>
      </form>
      <!-- Menu with icons starts here -->
      <button class="btn btn-secondary dropdown-toggle" type="button" id="iconMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span>Usuario</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="iconMenu">
        <button class="dropdown-item" type="button">Lista de Usuarios</button>
        
      </div>
      <!-- Menu with icons ends here -->
    </div>
  </div>
</nav>
